<%= form_with(model: bixe, local: true) do |form| %>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <% if !form.object.new_record? %>
        <div class="field">
          <h4>Número de Bixe</h4>
          <span><%= @bixe.id %></span>
        </div>
      <% end %>
      <div class="field">
        <%= form.label "Nome" %>
        <%= form.text_field :nome, id: :bixe_nome, autofocus: true %>
      </div>
      <div class="field">
        <%= form.label "Email" %>
        <%= form.text_field :email, id: :bixe_email %>
      </div>
      <div class="field">
        <%= form.label "Telefone" %>
        <%= form.text_field :telefone, id: :bixe_telefone %>
      </div>
      <p>
          Os próximos campos são informações de emergecia, esses dados só serão usados em caso de emergência. Busque preencher os campos abaixo principalmente para bixes menores de idade.
      </p>
      <div class="field">
        <%= form.label "Contatos de Emergencia" %><br>
        <p>
            Escreva o "nome do contato" de emergência.<br>
            Por exemplo: "Mãe: 11 95432-1234; Tio: 12 1222-1222"
        </p>
        <%= form.text_field :emergency_contacts, id: :bixe_emergency_contacts %>
      </div>
      <div class="field">
        <%= form.label "Sensibilidades e Alergias" %><br>
        <%= form.text_field :sensitivities, id: :bixe_sensitivities %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-3 col-md-3 col-xs-6">
      <div class="actions">
        <% if form.object.new_record? %>
        <%= link_to 'Voltar', bixes_path, class: 'btn btn-danger btn-lg btn-wide' %>
        <% else %>
        <%= link_to 'Voltar', bixe_path(@bixe), class: 'btn btn-danger btn-lg btn-wide' %>
        <% end %>
      </div>
    </div>

    <div class="col-md-3 col-xs-6">
      <div class="actions">
        <%= form.submit (form.object.new_record? ? 'Cadastrar' : 'Atualizar'), class: 'btn btn-success btn-lg' %>
      </div>
    </div>
  </div>
<% end %>
